/* // CSS GOES HERE */
.time {
    text-align: right;
    font-size: 20px;
    color: red;
}

#quiz {
    text-align: center;
}

#button0, #button1, #button2, #button3 {
    background-color: salmon;
    color: white;
    margin: 20px;
    padding: 20px;
}

#submit{
    display: block;
    margin: 0 auto;
}

#submit:hover{
    background-color: teal;
    font-weight: bold;
    color: white
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .active-slide{
    opacity: 1;
    z-index: 2;
  }
  .quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
  }