/* // CSS GOES HERE */


body {
    background-color: pink;
}


.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 10px 50px 50px 50px;
    border: 2px solid lightgray;
}

.grid h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    color:palevioletred;
    padding: 2px 0px;
}


.grid p {
    text-align: center;
}

#score {
    color: palevioletred;
    text-align: center;
    font-size: 30px;
}

.grid #question {
    font-family: "comic sans";
    font-size: 30px;
    text-align: center;
    color: black;
}

.buttons {
    margin-top: 30px;
}
 
#btn0, #btn1, #btn2, #btn3 {
    background-color: black;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid black;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

.buttonextra {
    background-color: black;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid black;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;

}

.tryagainlink {
    color: palevioletred;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: palevioletred;
}
 
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}
 
#progress {
    color: #2b2b2b;
    font-size: 18px;
}

.startbutton {
    font-family: "comic sans";
    background-color: black;
    color: white;
    border: none;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin: 40px 2px;
    cursor: pointer;
}

.time {
    text-align: left;
    font-size: 20px;
    color: red;
}

/* FORMS*/

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 16px;
    width: 300px;
    padding: 10px;
    font-size: 20px;
    border: solid black 1px;
}

.highscoreslink {
    font-family: "comic sans";
    background-color: lightpink;
    color: black;
    border: none;
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}